{% set ns = namespace(entities=[]) %}
{% for s in states | sort(attribute="entity_id") %}
 {% set ns.entities = ns.entities + [{
   "entity_id": s.entity_id,
   "name": s.name,
   "domain": s.entity_id.split(".")[0],
   "area": area_name(s.entity_id),
   "device_class": s.attributes.get("device_class"),
   "unit": s.attributes.get("unit_of_measurement"),
   "icon": s.attributes.get("icon")
 }] %}
{% endfor %}
{{ ns.entities | to_json(pretty_print=True) }}
