* {
  font-family: GeistMono Semibold;
  font-size: 13px;
  border-radius: 17px;
}

#clock,
#memory,
#disk,
#network,
#bluetooth,
#battery,
#custom-mic,
#custom-notification,
#custom-uxplay,
#wireplumber,
#window,
#tray {
  padding: 5 15px;
  border-radius: 12px;
  background: @surface0;
  color: @mauve;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 2px;
  margin-left: 2px;
  transition: all 0.3s ease;
}

#window {
  background-color: transparent;
  box-shadow: none;
}

window#waybar {
  background-color: transparent;
  border-radius: 17px;
}

window * {
  background-color: transparent;
  border-radius: 0px;
}

#workspaces button label {
  color: @mauve;
}

#workspaces button.active label {
  color: @mauve;
  font-weight: bolder;
}

#workspaces button:hover {
  box-shadow: @lavender 0 0 0 1.5px;
  background-color: @surface0;
  min-width: 50px;
}

#workspaces {
  background-color: transparent;
  border-radius: 17px;
  padding: 5 0px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#workspaces button {
  background-color: @surface0;
  border-radius: 12px;
  margin-left: 10px;

  transition: all 0.3s ease;
}

#workspaces button.active {
  min-width: 50px;
  /* box-shadow: @mauve 1 1 1 1px; */
  background-color: @surface0;
  background-size: 400% 400%;
  transition: all 0.3s ease;
  background: linear-gradient(
    58deg,
    @surface0,
    @surface1,
    @surface2
  );
  background-size: 300% 300%;
  animation: colored-gradient 20s ease infinite;
}

@keyframes colored-gradient {
  0% {
    background-position: 71% 0%;
  }
  50% {
    background-position: 30% 100%;
  }
  100% {
    background-position: 71% 0%;
  }
}

@keyframes grey-gradient {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: -33% 50%;
  }
}

#tray menu {
  background-color: @surface0;
  opacity: 0.8;
}

/* #wireplumber.muted { */
/*   color: @red; */
/*   padding-right: 16px; */
/* } */
/**/
