* {
  font-family: JetBrainsMono;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#custom-nvidia,
#temperature,
#memory,
#cpu,
#custom-mic,
#tray,
#clock,
#wireplumber {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#temperature {
  color: @blue;
  margin-left: 1rem;
  border-radius: 1rem 0 0 1rem;
}

#cpu {
  color: @maroon;
  border-radius: 0;
}

#memory {
  color: @lavender;
  border-radius: 0;
}

#custom-nvidia {
  color: @lavender;
  border-radius: 0 1rem 1rem 0;
}

#workspaces button {
  color: @surface2;
}

#workspaces button.active {
  color: @lavender;
}

#custom-mic {
  color: @maroon;
  border-radius: 1rem 0 0 1rem;
}

#wireplumber {
  color: @lavender;
  border-radius: 0 1rem 1rem 0;
  margin-right: 1rem;
}

#clock {
  color: @blue;
  border-radius: 1rem 1rem 1rem 1rem;
  margin-right: 1rem;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
