name: Justfile

on:
  push:
    branches: [ master, main ]
    paths: [ "justfile" ]
  pull_request:
    branches: [ master, main ]
    paths: [ "justfile" ]

jobs:
  list:
    name: List
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v25
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Listing recipes
        run: nix-shell -p just jq --run "just --list"
